.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.expand-transition {
  opacity: 1;
  transition: all .3s ease;
}
.expand-enter,
.expand-leave {
  opacity: 0;
}
#ui-datepicker-div {
  border-radius: 0;
  border: 1px solid #E5E5E5;
}
#ui-datepicker-div .ui-datepicker-header {
  background: #407FA4;
  color: #fff;
  border: none;
  border-radius: 0;
  font-weight: normal;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
::-webkit-scrollbar-track-piece {
  background-color: red;
}
html {
  req-markwidth: 100%;
  height: 100%;
}
html body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1F2837;
  font-size: 14px;
}
html body .animate-enter {
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
html body .animate-enter.animate-enter-active {
  opacity: 1;
}
html body .req-mark {
  color: red;
  font-size: 16px;
}
html body h1 {
  font-size: 24px;
  font-weight: 300;
}
@media screen and (max-width: 320px) {
  html body h1 {
    font-size: 24px;
    margin-top: 40px;
  }
}
html body .alert-info {
  padding: 6px;
  background: #F0F6FA;
  margin-bottom: 10px;
  border: 1px solid #E7E7E7;
  font-size: 14px;
}
html body .loader {
  background: url(../images/loading-image.gif) repeat-x;
  display: block;
  height: 10px;
  background-size: 40px 10px;
  overflow: hidden;
}
html body .logo {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .logo {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .logo {
    text-align: left;
  }
}
html body .logo img {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .logo img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .logo img {
    width: 80%;
  }
}
html body .required-field.error-field {
  border: 1px solid red !important;
}
html body header.desktop {
  margin-left: 235px;
}
html body header {
  height: 50px;
  background: #ffffff;
  padding-top: 10px;
}
html body header .avatar {
  margin-right: 10px;
  cursor: pointer;
}
html body header .avatar img {
  width: 40px;
  border-radius: 50px;
}
html body header .avatar span {
  position: relative;
  display: inline-block;
  bottom: 15px;
  text-transform: uppercase;
}
html body header .avatar a {
  display: inline-block;
  position: relative;
  bottom: 15px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
html body header .header-top-left {
  float: left;
  padding: 0 20px;
}
html body header .header-top-right {
  float: right;
  padding-right: 10px;
  position: relative;
}
@media screen and (max-width: 320px) {
  html body header {
    padding: 0 10px;
    position: relative;
  }
}
html body header .desktop-menu-toggler {
  font-size: 27px;
  color: #1F2837;
  font-weight: 100;
  float: left;
  margin-left: 20px;
  position: relative;
  top: 2px;
}
html body header .menu-toggler {
  display: none;
  right: 10px;
  font-size: 32px;
  top: 0;
  margin: 0;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  html body header .menu-toggler {
    display: block;
    text-align: center;
    position: absolute;
  }
}
html body header .head-nav {
  display: block;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 54px;
  right: 22px;
}
html body header .head-nav .nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
html body header .head-nav .nav li {
  float: left;
}
html body header .head-nav .nav li a {
  padding: 16px 10px;
  display: block;
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  html body header .head-nav .nav li a {
    color: #ffffff;
  }
}
@media screen and (max-width: 320px) {
  html body header .head-nav .nav li {
    float: none;
    border-bottom: 1px solid;
  }
}
@media screen and (max-width: 320px) {
  html body header .head-nav .nav {
    float: none;
    opacity: 0;
    transition: opacity 100ms;
  }
}
@media screen and (max-width: 320px) {
  html body header .head-nav {
    position: absolute;
    top: 90px;
    background-color: #1F1F1F;
    height: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
    transition: height 100ms;
    overflow: hidden;
  }
}
@media screen and (max-width: 320px) {
  html body header .head-nav.active {
    height: 152px;
  }
}
@media screen and (max-width: 320px) {
  html body header .head-nav.active .nav {
    opacity: 1;
  }
}
html body header span.select-state {
  float: right;
  position: relative;
  top: 10px;
  margin-right: 20px;
}
html body header span.select-state label {
  color: #fff;
  font-weight: normal;
  position: relative;
  top: 7px;
  margin-right: 10px;
}
@media screen and (max-width: 320px) {
  html body header span.select-state label {
    color: #31708f;
    position: relative;
    margin-right: 10px;
    top: 5px;
  }
}
html body header span.select-state .has-select {
  position: relative;
  display: block;
  float: right;
}
html body header span.select-state .has-select select {
  padding: 5px 30px 5px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #fff;
  border: none;
  line-height: 22px;
}
@media screen and (max-width: 320px) {
  html body header span.select-state .has-select {
    float: right;
  }
}
html body header span.select-state .has-select:before {
  content: '\25BC';
  display: block;
  width: 20px;
  height: 32px;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  color: #E5E5E5;
  right: 0;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
  pointer-events: none;
}
@media screen and (max-width: 320px) {
  html body header span.select-state {
    position: absolute;
    top: 50px;
    background-color: #d9edf7;
    display: block;
    width: 100%;
    left: 0;
    padding: 5px 10px;
    text-align: right;
  }
}
html body .dropdown-navigation h2 {
  font-size: 24px;
  font-weight: 300;
}
html body .dropdown-navigation .breadcrumbs {
  background: #FAFAFA;
  color: #494949;
  padding: 6px;
  font-size: 13px;
  border: 1px solid #E7E7E7;
}
html body .dropdown-navigation .has-select {
  position: relative;
  display: block;
  float: right;
}
html body .dropdown-navigation .has-select select {
  padding: 5px 30px 5px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #fff;
  border: none;
  line-height: 22px;
}
@media screen and (max-width: 320px) {
  html body .dropdown-navigation .has-select {
    float: right;
  }
}
html body .dropdown-navigation .has-select:before {
  content: '\25BC';
  display: block;
  width: 20px;
  height: 32px;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  color: #E5E5E5;
  right: 0;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
  pointer-events: none;
}
html body .sidebar {
  width: 235px;
  background-color: #1F2837;
  position: absolute;
  left: -235px;
  transition: all 300ms ease;
  font-weight: 100;
  box-sizing: border-box;
  color: #d9d9d9;
  top: 0;
  height: 100%;
}
html body .sidebar .group-tabs {
  transition: all 300ms ease;
  background: #19212d;
}
html body .sidebar .group-tabs .mCSB_inside > .mCSB_container {
  margin-right: 18px;
}
html body .sidebar .group-tabs span {
  background-color: #19212d;
}
html body .sidebar .group-tabs .sub-group-tabs ul {
  padding-left: 10px;
}
html body .sidebar .right {
  float: right;
}
html body .sidebar .logo-container {
  height: 50px;
  text-align: center;
  padding-top: 10px;
}
html body .sidebar .group.open-span {
  background-color: #19212d;
}
html body .sidebar span {
  display: block;
  padding: 10px;
  background-color: #1F2837;
  cursor: pointer;
}
html body .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body .sidebar ul li {
  border-bottom: 1px solid #222B3A;
}
html body .sidebar ul li a {
  padding: 5px 10px;
  display: block;
  color: #d9d9d9;
  text-decoration: none;
}
html body .sidebar ul li a:hover {
  background-color: #353535;
}
html body .sidebar .close {
  float: right;
  margin-right: 5px;
  margin-top: 15px;
}
html body .no-nav {
  left: -235px;
  z-index: 1;
}
html body .show-nav {
  left: 0;
  z-index: 1;
  opacity: 0.98;
}
html body .sidebar.menu-open {
  left: 0;
}
html body .container.menu-open {
  margin-left: 235px;
}
html body .container.desktop-content {
  padding: 2px;
  min-height: 100%;
}
html body .container {
  background-color: #eaeaea;
  transition: all 300ms ease;
  padding: 5px;
}
html body .container aside {
  background-color: #3D3D3D;
  max-width: 30%;
  float: left;
  width: 30%;
  height: 100%;
  padding-left: 20px;
  display: none;
}
html body .container aside ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
html body .container .module.dialogs {
  padding: 0;
}
html body .container .module {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #ffffff;
  height: 100%;
}
html body .container .module h2 {
  margin: 5px 0;
}
html body .container .module .dialog {
  padding: 12px;
}
html body .container .module .dialog ul {
  margin: 0;
}
html body .container .module .error {
  color: #D8000C;
  background-color: #FFBABA;
}
html body .container .module .warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
html body .container .module .info {
  color: #00529B;
  background-color: #BDE5F8;
}
html body .container .module .success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
html body .container .content {
  max-width: 100%;
  width: 100%;
}
html body .container .content .main-module-wrapper {
  padding: 2px;
  box-sizing: border-box;
  min-width: 384px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  html body .container .content .main-module-wrapper {
    min-width: 0px;
  }
}
html body .container .content .main-module-wrapper.desktop-module-wrapper {
  min-width: 384px;
}
html body .container .content .is-currency:before {
  content: '$';
  position: absolute;
  left: 7px;
  top: 6px;
  color: #8C8C8C;
}
html body .container .content .is-currency {
  position: relative;
  float: left;
  width: 60%;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .container .content .is-currency {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .container .content .is-currency {
    width: 100%;
  }
}
html body .container .content .is-currency input {
  padding: 5px 10px 5px 20px !important;
  text-align: right;
  width: 100% !important;
}
html body .container .content .is-currency input::-webkit-outer-spin-button,
html body .container .content .is-currency input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html body .container .content .is-weight:before {
  content: 'lbs';
  position: absolute;
  left: 7px;
  top: 6px;
  color: #8C8C8C;
}
html body .container .content .is-weight {
  position: relative;
  float: left;
  width: 60%;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .container .content .is-weight {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .container .content .is-weight {
    width: 100%;
  }
}
html body .container .content .is-weight input {
  padding: 5px 10px 5px 30px !important;
  text-align: right;
  width: 100% !important;
}
html body .container .content .is-weight input::-webkit-outer-spin-button,
html body .container .content .is-weight input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html body .container .content .alert {
  border-radius: 0;
}
html body .container .content .checkpoint-modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner {
  width: 600px;
  background-color: #fff;
  margin: 150px auto;
  position: relative;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner a {
  position: absolute;
  font-size: 25px;
  right: -15px;
  top: -15px;
  color: #000000;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner > label {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  background: #EAE7E7;
  border-bottom: 1px solid #D8D8D8;
  display: block;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul {
  margin: 0;
  padding: 0px 10px 0 41px;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li {
  padding: 10px 0;
  border-bottom: 1px solid #F5F3F3;
  cursor: pointer;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li input {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
}
@media screen and (max-width: 320px) {
  html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li input {
    float: left;
  }
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li input[type=radio]:checked {
  background: #407FA4;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li label {
  font-weight: normal;
  margin-left: 8px;
  position: relative;
  bottom: 4px;
}
@media screen and (max-width: 320px) {
  html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li label {
    width: 232px;
    float: left;
  }
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li span {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-left: 30px;
  color: #8e8e8e;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner ul li p {
  margin: 0;
}
html body .container .content .checkpoint-modal .checkpoint-modal-inner button {
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 10px 15px;
  background-color: #44B6AE;
  border: none;
  color: #fff;
}
html body .container .content .loading {
  display: block;
  background: url(../images/loading-image.gif) repeat-x center center;
  height: 10px;
  margin-bottom: 20px;
}
html body .container .content .building {
  margin: 0;
  text-align: center;
}
html body .container .content .calculator-wrapper.desktop-calculator-wrapper form .form-group > label {
  float: left;
  width: 40%;
  position: relative;
  top: 6px;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  display: initial;
}
html body .container .content .calculator-wrapper .module-wrapper.desktop-module-wrapper {
  min-width: 384px;
  width: 38%;
  float: left;
}
html body .container .content .calculator-wrapper .module-wrapper.desktop-module-wrapper.narrow-module {
  min-width: 260px;
  width: 24%;
  float: left;
}
html body .container .content .calculator-wrapper .module-wrapper {
  box-sizing: border-box;
  padding: 2px;
}
html body .container .content .calculator-wrapper form .form-group > label {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 0;
  display: block;
}
html body .container .content .calculator-wrapper form .form-group {
  border-bottom: 1px solid #EFEFEF;
  margin: 0;
  padding: 1px;
}
html body .container .content .calculator-wrapper form .form-group input[type=text],
html body .container .content .calculator-wrapper form .form-group input[type=date],
html body .container .content .calculator-wrapper form .form-group input[type=number] {
  width: 60%;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
  color: #8C8C8C;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .container .content .calculator-wrapper form .form-group input[type=text],
  html body .container .content .calculator-wrapper form .form-group input[type=date],
  html body .container .content .calculator-wrapper form .form-group input[type=number] {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .container .content .calculator-wrapper form .form-group input[type=text],
  html body .container .content .calculator-wrapper form .form-group input[type=date],
  html body .container .content .calculator-wrapper form .form-group input[type=number] {
    width: 100%;
  }
}
html body .container .content .calculator-wrapper form .form-group select {
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
  color: #8C8C8C;
}
html body .container .content .calculator-wrapper form .form-group .radio-container,
html body .container .content .calculator-wrapper form .form-group .checkbox-container {
  width: 60%;
  float: right;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .container .content .calculator-wrapper form .form-group .radio-container,
  html body .container .content .calculator-wrapper form .form-group .checkbox-container {
    float: none;
    margin: 0 auto;
  }
}
html body .container .content .calculator-wrapper form .form-group .radio-container label,
html body .container .content .calculator-wrapper form .form-group .checkbox-container label {
  margin: 0 15px 0 0;
  position: relative;
  bottom: 4px;
  font-weight: normal;
}
html body .container .content .calculator-wrapper form .form-group input[type=radio],
html body .container .content .calculator-wrapper form .form-group input[type=checkbox] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
}
html body .container .content .calculator-wrapper form .form-group input[type=radio]:checked,
html body .container .content .calculator-wrapper form .form-group input[type=checkbox]:checked {
  background: #407FA4;
}
html body .container .content .calculator-wrapper form .form-group .radio-container > div {
  margin-right: 20px;
  float: left;
}
html body .container .content .calculator-wrapper form .form-group .checkbox-container > div {
  margin-right: 20px;
  float: left;
}
html body .container .content .calculator-wrapper form .form-group .has-select {
  position: relative;
  display: inline-block;
  width: 60%;
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  html body .container .content .calculator-wrapper form .form-group .has-select {
    width: 100%;
  }
}
html body .container .content .calculator-wrapper form .form-group .has-select select {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html body .container .content .calculator-wrapper form .form-group .has-select {
    width: 100%;
  }
}
html body .container .content .calculator-wrapper form .form-group .has-select:before {
  content: '\25BC';
  display: block;
  width: 20px;
  height: 32px;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  color: #E5E5E5;
  right: 0;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
  pointer-events: none;
}
html body .container .content .calculator-wrapper form button[disabled=true] {
  background-color: #BDBDBD;
  border: 1px solid #EFEFEF;
}
html body .container .content .calculator-wrapper form button {
  border-radius: 0;
  background-color: #407FA4;
  color: #fff;
  border: 1px solid #407FA4;
  margin-top: 10px;
  padding: 6px 20px;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  display: block;
  float: left;
  box-sizing: border-box;
}
html body .container .content .calculator-wrapper form button.calc {
  border-left: 1px solid #FFFFFF;
}
html body .container .content .calculator-wrapper form button.rese {
  border-right: 1px solid #FFFFFF;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options {
  margin-bottom: 20px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row {
  height: 35px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row input {
  float: left;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row input[type=checkbox] {
  -webkit-appearance: none;
  border: 1px solid #E5E5E5;
  width: 20px;
  height: 20px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row input[type=checkbox]:checked {
  background-color: #407FA4;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row label {
  margin-left: 8px;
  top: 5px;
  width: 178px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options .summary-content .summary-row:last-child {
  border-bottom: none;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options.read-only .summary-row label {
  width: 30%;
  display: block;
  float: left;
  margin: 0;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary.options.read-only .summary-row input[type=text] {
  width: 100%;
  float: left;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary {
  top: 0;
  border: 1px solid #E7E7E7;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary > label {
  text-align: center;
  display: block;
  padding: 5px 10px;
  background-color: #f9f9f9;
  color: #2D719A;
  border-bottom: 1px solid #EFEFEF;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary .summary-content .summary-row {
  padding: 1px 10px;
  border-bottom: 1px solid #EFEFEF;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary .summary-content .summary-row > label {
  width: 80px;
  float: left;
  font-weight: normal;
  position: relative;
  top: 7px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary .summary-content .summary-row > input[type=text] {
  padding: 5px 10px;
  text-align: left;
  border: 1px solid #EFEFEF;
  width: 100%;
  font-weight: 100;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary .summary-content .summary-row .is-currency,
html body .container .content .calculator-wrapper .calculator-form-asside .summary .summary-content .summary-row .is-weight {
  width: 70%;
}
html body .container .content .calculator-wrapper .calculator-form-asside .summary .total {
  display: block;
  text-align: center;
  font-size: 30px;
}
html body .container .content .result-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html body .container .content .result-panel ul li {
  margin-bottom: 10px;
}
html body .container .content .result-panel small {
  background: #fff;
  width: 70%;
  display: block;
  float: left;
  padding: 4px 10px;
}
html body .container .content .result-panel > ul > li > strong {
  display: block;
  float: left;
  width: 30%;
}
html body .container .content .result-panel > ul > li > ul > li > strong {
  display: block;
  float: left;
  width: 30%;
}
html body .container .content .tabs-main {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: #3D3D3D;
  margin-bottom: 45px;
}
html body .container .content .tabs-main > li {
  color: #fff;
  float: left;
  width: 25%;
  text-align: center;
}
html body .container .content .tabs-main > li > a {
  display: block;
  padding: 6px 10px;
  color: #fff;
  text-decoration: none;
}
html body .container .content .tabs-main > li > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #F0F6FA;
  display: none;
}
html body .container .content .tabs-main > li > ul > li:last-child {
  border-right: none;
}
html body .container .content .tabs-main > li > ul > li:first-child {
  border-left: none;
}
html body .container .content .tabs-main > li > ul > li {
  color: #000;
  float: left;
  padding: 6px 10px;
}
html body .container .content .tabs-main > li > ul > li a {
  text-decoration: underline;
}
html body .container .content .tabs-main > li > ul > li.active a {
  color: #337ab7;
}
html body .container .content .tabs-main > li:hover {
  background-color: #F0F6FA;
}
html body .container .content .tabs-main > li:hover > a {
  color: #000 !important;
}
html body .container .content .tabs-main > li.active {
  background-color: #F0F6FA;
}
html body .container .content .tabs-main > li.active a {
  color: #000;
}
html body .container .content .tabs-main > li.active > ul {
  display: block;
}
html body .container .content .manage-panel {
  padding-bottom: 50px;
}
html body .container .content .manage-panel .edit-modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner {
  width: 330px;
  background-color: #fff;
  margin: 150px auto;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner > label {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  background: #EAE7E7;
  border-bottom: 1px solid #D8D8D8;
  display: block;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner ul {
  margin: 0;
  list-style: none;
  padding: 10px 20px 30px;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner ul li {
  padding: 10px 0;
  border-bottom: 1px solid #F5F3F3;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner ul li input {
  padding: 5px 10px;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner ul li label {
  font-weight: normal;
  margin-left: 8px;
  position: relative;
  bottom: 4px;
  width: 100px;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner button {
  padding: 10px 15px;
  border: none;
  color: #fff;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner button.update[disabled=true] {
  background-color: #E7E7E7;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner button.update {
  margin-bottom: 15px;
  margin-left: 20px;
  background-color: #44B6AE;
}
html body .container .content .manage-panel .edit-modal .edit-modal-inner button.cancel {
  margin-bottom: 15px;
  margin-left: 0;
  background-color: #f2dede;
}
html body .container .content .manage-panel .mobile-selects label {
  display: block;
}
html body .container .content .manage-panel .mobile-selects .has-select {
  display: block;
  width: 100%;
}
html body .container .content .manage-panel .mobile-selects .has-select select {
  width: 100%;
}
html body .container .content .manage-panel .mobile-selects.selects.has-button .has-select {
  display: block;
  width: 75%;
  float: left;
  margin-right: 1%;
}
html body .container .content .manage-panel .mobile-selects.selects.has-button .has-select select {
  width: 100%;
}
html body .container .content .manage-panel .mobile-selects.selects.has-button button {
  border-radius: 0;
  float: left;
  background-color: #FAFAFA;
  border: #e7e7e7;
  width: 24%;
  height: 32px;
  text-align: center;
}
html body .container .content .manage-panel .selects.first {
  margin-bottom: 10px;
}
html body .container .content .manage-panel .has-select {
  position: relative;
  display: inline-block;
}
html body .container .content .manage-panel .has-select select {
  padding: 5px 30px 5px 10px;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #fff;
  border: none;
  line-height: 22px;
}
html body .container .content .manage-panel .has-select:before {
  content: '\25BC';
  display: block;
  width: 20px;
  height: 32px;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  color: #E5E5E5;
  right: 0;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
  pointer-events: none;
}
html body .container .content .manage-panel table {
  width: 100%;
}
html body .container .content .manage-panel table tbody tr .staggered-transition {
  transition: all .5s ease;
  overflow: hidden;
  margin: 0;
  height: 20px;
}
html body .container .content .manage-panel table tbody tr .staggered-enter,
html body .container .content .manage-panel table tbody tr .staggered-leave {
  opacity: 0;
  height: 0;
}
html body .container .content .manage-panel table tbody th,
html body .container .content .manage-panel table tbody td {
  border: 1px solid #EFEFEF;
  padding: 4px;
}
html body .container .content .manage-panel table tbody td .edit-btn {
  width: 80px;
  margin-right: 5px;
  background-color: #FAFAFA;
}
html body .container .content .manage-panel table tbody td .update-btn {
  background-color: #F0F6FA;
}
html body .container .content .manage-panel table tbody td .manage-btn {
  border: 1px solid #E7E7E7;
}
html body .container .content .manage-panel table tbody td .manage-btn[disabled=true] {
  background-color: #E7E7E7;
}
html body .container .content .manage-panel table tbody td input {
  text-align: right;
  margin-left: 5px;
  border: 1px solid #E7E7E7;
}
html body .container .content .manage-panel table tbody td input[disabled=true] {
  background-color: #E7E7E7;
}
html body .container .content .manage-panel table.mobile tbody tr td .fee-name {
  display: block;
}
html body .container .content .manage-panel table.mobile tbody tr td .item-container {
  display: block;
}
html body .container .content .manage-panel table.mobile tbody tr td .item-container .value {
  display: block;
  width: 50%;
  float: left;
}
html body .container .content .manage-panel table.mobile tbody tr td .item-container .value input {
  width: 89%;
  padding: 0px 10px;
  -webkit-appearance: none;
  border: 1px solid #E7E7E7;
  border-radius: 0;
}
html body .container .content .manage-panel table.mobile tbody tr td .item-container .actions {
  display: block;
  width: 50%;
  float: left;
}
html body .container .content .manage-panel table.mobile tbody tr td .item-container .actions button {
  width: 48%;
  float: left;
}
html body .container .content .manage-panel table.dates tbody tr td input[type=number] {
  width: 75px;
}
html body .container .content .result .form-group select {
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
  color: #8C8C8C;
}
html body .container .content .result .has-select {
  position: relative;
  display: inline-block;
  width: 60%;
}
html body .container .content .result .has-select select {
  width: 100%;
}
html body .container .content .result .has-select:before {
  content: '\25BC';
  display: block;
  width: 20px;
  height: 32px;
  border-left: 1px solid #E5E5E5;
  position: absolute;
  color: #E5E5E5;
  right: 0;
  text-align: center;
  line-height: 32px;
  font-size: 10px;
  pointer-events: none;
}
html body .container .content .result > ul {
  padding: 0;
  margin: 0;
}
html body .container .content .result ul > li {
  border-bottom: 1px solid #EFEFEF;
}
html body .container .content .result ul li:last-child {
  border-bottom: none;
}
html body .container .content .result ul li a {
  display: block;
  float: right;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
html body .container .content .result ul li .sub-panel {
  display: none;
}
html body .container .content .result ul li .sub-panel ul {
  padding: 0;
  margin: 0;
}
html body .container .content .result ul li .sub-panel ul li .is-currency {
  margin-right: 43px;
}
html body .container .content .result ul li .sub-panel.open-sub {
  display: block;
}
html body .container .content .result ul li label.bold {
  font-size: 14px;
  font-weight: normal;
}
html body .container .content .result ul li label {
  float: left;
  position: relative;
  top: 6px;
}
html body .container .content .result ul li .is-currency {
  float: right !important;
}
html body .container .content .result ul li input {
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  height: 32px;
  font-size: 14px;
  color: #8C8C8C;
  width: 120px;
}
html body .container .content .result ul li .is-currency {
  width: 45% !important;
}
html body .container .content .result table.result-table {
  width: 100%;
}
html body .container .content .result table.result-table tbody tr th {
  text-align: center;
  background-color: #d9edf7;
  padding: 10px;
}
html body .container .content .result table.result-table tbody tr th,
html body .container .content .result table.result-table tbody tr td {
  border: 1px solid #EFEFEF;
}
html body .container .content .result table.result-table tbody tr td div.partial-total-row {
  background-color: #f9f9f9;
  border-bottom: 1px solid #EFEFEF;
  padding: 5px;
}
html body .container .content .result table.result-table tbody tr td div.partial-total-row strong,
html body .container .content .result table.result-table tbody tr td div.partial-total-row > span {
  width: 50%;
  display: block;
  float: left;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td div.partial-total-row strong,
  html body .container .content .result table.result-table tbody tr td div.partial-total-row > span {
    width: 100%;
    float: none;
  }
}
html body .container .content .result table.result-table tbody tr td div.partial-total-row > span input {
  text-align: right;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td div.partial-total-row > span input {
    border: 1px solid #E5E5E5;
    border-radius: 0;
    -webkit-appearance: none;
  }
}
html body .container .content .result table.result-table tbody tr td div.partial-total-row > span button {
  padding: 5px;
  float: right;
  border-radius: 0;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td div.partial-total-row > span button {
    -webkit-appearance: none;
    border-radius: none;
    border: 1px solid #E5E5E5;
  }
}
html body .container .content .result table.result-table tbody tr td > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}
html body .container .content .result table.result-table tbody tr td > ul > li {
  border-bottom: 1px solid #EFEFEF;
  padding: 5px;
}
html body .container .content .result table.result-table tbody tr td > ul > li > span {
  width: 50%;
  float: left;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td > ul > li > span {
    width: 100%;
    float: none;
    display: block;
  }
}
html body .container .content .result table.result-table tbody tr td > ul > li > span > input {
  text-align: right;
  border-radius: 0;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td > ul > li > span > input {
    border: 1px solid #E5E5E5;
    width: 97%;
    border-radius: 0;
    -webkit-appearance: none;
  }
}
html body .container .content .result table.result-table tbody tr td > ul > li > span > button.more {
  padding: 4px;
  float: right;
  border-radius: 0;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td > ul > li > span > button.more {
    margin-top: 10px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid #E5E5E5;
  }
}
html body .container .content .result table.result-table tbody tr td > ul > li > ul {
  padding: 0 20px;
  margin: 30px 0 0 0;
}
html body .container .content .result table.result-table tbody tr td > ul > li > ul > li {
  padding: 5px;
}
html body .container .content .result table.result-table tbody tr td > ul > li > ul > li > span {
  width: 50%;
  float: left;
  display: block;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td > ul > li > ul > li > span {
    width: 96%;
    float: none;
  }
}
html body .container .content .result table.result-table tbody tr td > ul > li > ul > li > span > input {
  text-align: right;
  border-radius: 0;
}
@media screen and (max-width: 320px) {
  html body .container .content .result table.result-table tbody tr td > ul > li > ul > li > span > input {
    border: 1px solid #E5E5E5;
    -webkit-appearance: none;
    width: 96%;
    border-radius: 0;
  }
}

/*# sourceMappingURL=app.css.map */
