<div class="form-group clearfix"><label for="category">Transaction Type*</label>
  <div class="has-select">
    <select name="type" ng-model="ttlType" ng-change="changeTrasaction()">
      <option value="NR">New Title/New Registration</option>
      <option value="TP">New Title/Transfer Plate</option>
      <option value="DT">Duplicate Title</option>
      <option value="TO">Title Only</option>
      <option value="RO">Registration Only</option>
      <option value="TRC">Title Registration Correction</option>
    </select>
  </div>
</div>